body {
  background-color: #f2f2f2;
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
  font-family: Helvetica, sans-serif;
  width: 100%;
  margin: 0; /*retira a margem branca do lado esquerdo*/
  padding: 0;
}
/* Adicione estas regras de estilo no seu arquivo de estilo CSS */

.section.first-section {
  text-align: center;
}

.img-botoes-container {
  margin-top: 20px;
}

.logo-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nome2 {
  font-size: 1.5em; /* Ajuste conforme necessário para o tamanho desejado */
}
/* Adicione estas regras de estilo no seu arquivo de estilo CSS */

.botao-i {
  margin: 0 10px;
  color: #535353; /* Cor cinza para os ícones */
  font-size: 1.5em; /* Ajuste conforme necessário para o tamanho desejado */
  transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito */
}

.logo-buttons .botao-i:hover {
  color: #2c2c2c;
  transform: translateY(-5px);
}
/* Tooltip styles */
.logo-buttons .botao-i[data-tooltip] {
  position: relative;
}

.logo-buttons .botao-i[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  background: #757575;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  bottom: 155%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
  font-size: 14px; /* Adjust the font size as needed */
}

.logo-buttons .botao-i[data-tooltip]:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}
.topico-h {
  margin: 15px;
  font-size: 33px;
  font-family: "Outfit";
  color: #535353;
}
.icons {
  font-size: 40px;
}
.paragrafo p {
  text-align: justify; /*Para centralizar o conteúdo interno horizontalmente */
  max-width: 600px; /* Definindo uma largura máxima para o conteúdo */
  width: 100%; /* Permitindo que o conteúdo ocupe toda a largura disponível */
  color: #757575;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragrafo {
  max-width: 550px; /* Adapte conforme necessário */
  margin: 0 auto;
  flex: 2; /* Ajuste conforme necessário para o espaço que deseja dar ao texto */
}
.container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px; /* Margens de 20px nas laterais */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.me-image {
  max-width: 90%;
  border-radius: 18px;
  height: auto;
}

.projeto-1,
.projeto-3 {
  flex-basis: calc(50% - 20px); /* Define a largura de cada projeto */
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 10px; /* Define a borda arredondada */
  padding: 10px; /* Adiciona um espaçamento interno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Alinha os botões verticalmente */
}
.projeto-2,
.projeto-4 {
  flex-basis: calc(50% - 20px); /* Define a largura de cada projeto */
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 10px; /* Define a borda arredondada */
  padding: 10px; /* Adiciona um espaçamento interno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Alinha os botões verticalmente */
}
.projetos-container {
  display: flex;
  justify-content: space-between; /* Distribui os projetos com espaço entre eles */
}

.projetos-container > div {
  max-width: 400px;
  flex-basis: calc(50% - 20px);
  margin-top: 0%;
  margin-bottom: 20px;
  border: none;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px 0px rgba(73, 74, 74, 0.11); /* Sombra azul clara */
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.projeto-1 img,
.projeto-2 img,
.projeto-3 img,
.projeto-4 img {
  width: 300px; /* Defina a largura desejada para a imagem */
  border-radius: 10px;
}

.projeto-1 h2,
.projeto-2 h2,
.projeto-3 h2,
.projeto-4 h2 {
  margin-top: 10px;
  font-size: 27px;
  padding: 5px;
  color: #373737;
  font-family: "Outfit", sans-serif;
}

.projeto-1 p,
.projeto-2 p,
.projeto-3 p,
.projeto-4 p {
  font-size: 16px;
  color: #6d6d6d;
  margin-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.projeto-1 .botao-p,
.projeto-2 .botao-p,
.projeto-3 .botao-p,
.projeto-4 .botao-p {
  margin-top: 10px;
  padding: 0px 10px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.projeto-1 .botao-p:hover,
.projeto-2 .botao-p:hover,
.projeto-3 .botao-p:hover,
.projeto-4 .botao-p:hover {
  background-color: #0077cc;
}

.projeto {
  flex: 0 0 auto;
  width: 300px; /* Largura de cada projeto */
  margin-right: 20px; /* Espaçamento entre os projetos */
}
#projetos {
  margin-bottom: 30px; /* Ajuste o valor conforme necessário */
}

.carousel {
  box-shadow: 3px 3px 5px 0px rgba(73, 74, 74, 0.11);
  position: relative;
  max-width: 600px;
  margin: auto; /* Centralizar horizontalmente */
  overflow: hidden;
  text-align: center; /* Centralizar os botões */
  margin-bottom: 40px; /* Ajuste o valor conforme necessário */
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-bottom: 50px;
}

.slides {
  display: flex;
  overflow-x: hidden;
  background: #ffffff;
  border-radius: 8px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno */
}

.slides img {
  width: 100%;
  display: block;
}

#prevBtn,
#nextBtn {
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3); /* Adicionando um fundo semitransparente */
  color: white;
  border: none;
  cursor: pointer;
}
#prevBtn {
  left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#nextBtn {
  right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card-pj {
  width: 100%;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 0 10px; /* Espaçamento entre os cartões */
}

.card-pj img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.title {
  padding: 20px;
  color: #535353;
  font-weight: bold;
  font-size: 23px;
}

.button-container {
  margin-top: 10px;
}

.card-btn-pj {
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 11px 40px;
  margin-right: 10px;
  margin-bottom: 6px;
  background-color: #5a9bcd;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 15px;
  border-width: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: 3px 3px 5px 0px rgba(73, 74, 74, 0.11);
}
.card-btn-pj:hover {
  background: #424242;
}
a:-webkit-any-link {
  text-decoration: none;
}
.name-head {
  position: absolute;
  margin-top: 17px;
  left: 18px; /* Ajuste conforme necessário para a posição desejada */
  font-size: 26px;
  font-family: "Belanosima", sans-serif;
  color: #2980b9;
}
/* Estilos para a caixa de seleção de tema */
.theme-switch {
  position: absolute;
  margin-top: 15px;
  left: 150px; /* Ajuste conforme necessário para a posição desejada */
  font-size: 14px;
}

/* Estilize o rótulo da caixa de seleção */
.theme-switch label {
  cursor: pointer;
}

/* Estilize a caixa de seleção */
.theme-switch input[type="checkbox"] {
  display: none; /* Oculta a caixa de seleção nativa */
}

.theme-switch .label {
  background-color: #757575;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 10px;
  width: 34px;
  transform: scale(1.5);
  margin-top: 4px;
}

.theme-switch .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.theme-switch input[type="checkbox"]:checked + .label .ball {
  transform: translateX(24px);
}
.theme-switch input[type="checkbox"]:checked + .label {
  background-color: #757575;
}

.moon-icon {
  color: #424242;
  display: none; /* Inicialmente, esconda o ícone da lua */
}

/* Mostre o ícone da lua quando o tema escuro estiver selecionado */
.theme-switch input[type="checkbox"]:checked + .label .moon-icon {
  display: block;
  margin-right: 5px; /* Adapte o espaçamento conforme necessário */
}

/* Mostre o ícone do sol quando o tema claro estiver selecionado */
.theme-switch input[type="checkbox"]:not(:checked) + .label .sun-icon {
  display: block;
  margin-right: 5px; /* Adapte o espaçamento conforme necessário */
}

/* Estilo para o tema escuro */
.dark-theme {
  background-color: #333333;
  color: #fff; /* Adicione estilos para outros elementos conforme necessário */
}

.dark-theme .section {
  background-color: #333333;
  color: #fff; /* Adicione estilos para outros elementos conforme necessário */
}
.dark-theme .projetos-container > div,
.dark-theme .projetos-container > div h2 {
  background-color: #525252;
  color: #fff; /* Adicione estilos para outros elementos conforme necessário */
}

.dark-theme nav {
  background-color: #333333;
  max-height: 8px;
}
.dark-theme .nav-link {
  color: #ffffff;
}
.dark-theme nav a {
  color: #ffffff;
}
.dark-theme #contact-form {
  background-color: #e9e9e9;
}
.dark-theme .fa-brands {
  font-size: 50px;
  color: #5a9bcd;
}
.dark-theme #contact-form label {
  color: #333333;
}

.dark-theme .topico {
  color: #ffffff;
}

.dark-theme .projetos-container > div p {
  color: #fff; /* Adicione estilos para outros elementos conforme necessário */
}

.dark-theme #menu-btn,
.dark-theme h2,
.dark-theme h3,
.dark-theme p,
.dark-theme {
  color: #fff; /* Define a cor da fonte para branco */
}
.dark-theme .botao {
  background-color: #424242;
}
.dark-theme .botao-i {
  color: #e3e3e3;
}
.dark-theme .botao-i :hover {
  color: #a9a9a9;
}
.dark-theme .profissao {
  background: #5a9bcd;
  -webkit-background-clip: text; /* Adiciona o gradiente ao texto */
  color: transparent; /* Torna o texto transparente para mostrar o gradiente por trás */
  /*text-shadow: 2px 2px 4px rgba(131, 111, 255, 0.3);  Ajuste a cor da sombra para corresponder à cor do texto */
}

.dark-theme .botao-p {
  background: #5a9bcd;
}

.dark-theme #contact-form button {
  background-color: #5a9bcd;
}

.dark-theme .pcnav a::after {
  background-color: #5a9bcd;
}

.dark-theme .navbar {
  background: #757575;
}
.dark-theme .card p {
  color: #fff;
}
.dark-theme .navbar a {
  color: #fff;
}
/* Adicione estilos para o ícone do sol */
.sun-icon {
  display: none; /* Inicialmente, esconda o ícone do sol */
}

/* Adicione estilos para o ícone da lua */
.moon-icon {
  display: none; /* Inicialmente, esconda o ícone da lua */
}

/* Mostre o ícone do sol quando o tema claro estiver selecionado */
.light-theme .sun-icon {
  display: block;
  margin-right: 0px; /* Adapte o espaçamento conforme necessário */
  margin-left: 10px;
}

/* Mostre o ícone da lua quando o tema escuro estiver selecionado */
.dark-theme .moon-icon {
  display: block;
  margin-right: 5px; /* Adapte o espaçamento conforme necessário */
}

/* Para navegadores baseados no motor Blink (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #5a9bcd,
    #2980b9
  ); /* degradê azul para o polegar */
  border-radius: 6px; /* borda arredondada do polegar */
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    #f1f1f1,
    #dcdcdc
  ); /* degradê cinza para a barra de rolagem */
}

/*dark2*********************************/
body.dark {
  background: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #000000;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 11px;
  width: 21px;
  transform: scale(1.1);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #fff;
}

.fa-sun {
  color: #fff;
}
/* Restante do seu CSS existente */

/* Posiciona o ícone do sol à direita */
.theme-switch .sun-icon {
  order: 1;
  margin-left: 22px; /* Adapte o espaçamento conforme necessário */
}

.theme-switch .moon-icon {
  order: 2;
  margin-right: 15px; /* Adapte o espaçamento conforme necessário */
}

nav {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 30px;
}
h2 {
  color: #535353;
  font-size: 23px;
}
nav a {
  margin-right: 25px;
  text-decoration: none;
  /*font-weight:550;*/
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
}
.pcnav a {
  position: relative;
  color: #535353;
  text-decoration: none;
  transition: color 0.3s;
}

.pcnav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #a5a5a5;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

.pcnav a.active::after {
  width: 100%;
}

.pcnav a:hover::after {
  width: 100%;
}

header {
  position: sticky;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 1; /* Adicione um índice Z para que a barra de navegação fique acima dos cards */
}
.page-header {
  transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
}

.header-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra desejada */
}

#menu-btn {
  position: fixed;
  /*margin*/
  top: 8px;
  margin-bottom: 10px;
  right: 30px;
  height: 50px;
  width: 50px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  /*background: #6f5fc7;*/
  color: #535353;
  text-align: center;
  z-index: 1000;
}

#menu-btn.fa-times {
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  background: #5a9bcd; /*cor ao clicar*/
  color: #ffffff;
}

.menu-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-enviar {
  margin-left: auto;
  text-align: center; /* Alinha o conteúdo do botão à direita */
  margin-right: 9px; /* Adiciona uma margem à direita para criar espaço entre o botão e o formulário */
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-aligned {
  margin-right: 1300px;
}

.pcnav {
  display: flex;
  justify-content: center;
  position: fixed;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 290px;
  width: 100%;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 50px;
  clip-path: circle(0% at 95.3% 8.5%);
}

.navbar.active {
  clip-path: circle(140% at 95.3% 8.5%);
}
.navbar a {
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  padding-bottom: 30px;
  color: #000;
  text-decoration: none;
}

.navbar a::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #000;
  pointer-events: none;
  font-weight: bolder;
  letter-spacing: 0.4em;
  opacity: 0;
  z-index: -1;
}

.navbar a:hover::before {
  letter-spacing: 0em;
  opacity: 0.1;
  transition: 0.3s ease-out;
}

main {
  width: 100%;
}

section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
  margin: 0 auto;
}

h1 {
  margin-top: 0;
}

.content-container {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento inferior entre o conteúdo e os botões */
  margin-right: 0px;
  margin-top: 140px;
  margin-bottom: 60px;
}

/*texto primeira parte*/
.text-container {
  flex: 1;
  text-align: center;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-right: 20px;  Espaçamento entre a imagem e o texto */
}

.minhafoto {
  width: 300px;
  border-radius: 50%;
  margin-top: 12px;
  /*margin-left: 10px;  Espaçamento entre a imagem e o texto */
}

.img-botoes-container {
  margin-left: 40px;
}

.nome-completo {
  margin-bottom: 10px;
  text-align: center; /* Centraliza o texto */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.profissao {
  margin-top: 0;
  font-size: 120px;
  text-align: center;
  font-family: "Belanosima", sans-serif;
  margin-bottom: 0px;
  background: #5a9bcd;
  -webkit-background-clip: text; /* Adiciona o gradiente ao texto */
  color: transparent; /* Torna o texto transparente para mostrar o gradiente por trás */
  /*text-shadow: 2px 2px 4px rgba(131, 111, 255, 0.3);  Ajuste a cor da sombra para corresponder à cor do texto */
}

.absolute {
  margin-top: 10000px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* Estilo para a caixa invisível */
.invisible-box {
  display: none;
}

.topico {
  /*font-weight: 100;*/
  font-size: 35px;
  margin-top: 70px;
  color: #535353;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

/*cartoes habilidades*/
.father {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 100%; /* Defina a largura desejada para os cards */
  height: 70%;
  text-align: center;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 5px 5px 5px #5a9bcd;
}

.card-container {
  margin-top: 20px; /* Adicione um espaçamento entre a barra de navegação e os cards */
  padding-top: 5px; /* Adicione um espaçamento interno no topo do container dos cards */
  padding-bottom: 5px;
  margin-bottom: 10px; /* Aumenta o espaço inferior da seção habilidades */
}

.card .titulo-projeto {
  margin-top: 20px;
  font-size: 26px;
}

.card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.card-hover {
  position: relative;
  width: 150px; /* Reduza a largura dos cards para 200px */
  height: 150px; /* Reduza a altura dos cards para 300px */
  /*background-color: #915b5b; /*fundo dos cartoes habilidades*/
  border-radius: 10px;
  margin: 8px;

  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.card p {
  /* Se desejar, centralize verticalmente o texto dentro do card */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 550;
  margin-top: 9px;
  color: #535353;
}

.logo-html {
  margin-top: 10px;
  width: 100px;
}

.logo-js {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 85px;
}

.logo-css {
  width: 71px;
  margin: 10px;
  margin-bottom: 0;
  align-content: center;
}

.logo-react {
  width: 90px;
  margin: 3px;
  margin-bottom: 0;
}

.logo-bootstrap {
  width: 100px;
  margin-bottom: 0;
}
.descricao-container {
  max-width: 400px;
}
.descricao {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  word-spacing: -1px; /* Ajuste conforme necessário */
  margin-left: 10px;
  margin-right: 10px;
}

/*Formulario de contato**************************************************************/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 33px;
}

#contact-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #3b3b3b;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #424242;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 0%;
}

textarea {
  padding-right: 30px; /* Espaço para o ícone dentro do campo de texto */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #424242;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "helvetica";
}

button[type="submit"] {
  padding: 8px 30px;
  background: #5a9bcd;
  color: #fff;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.icon-increase {
  font-size: 50px; /* Tamanho padrão */
}
.dark-bg {
  /*background-color: #eeeeee;*/
  background-color: #f2f2f2;
  margin-bottom: 0px; /* Adiciona espaço entre a seção e o rodapé */
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 80%;
  }
  nav a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 22px;
  }
  .content-container {
    flex-direction: column;
  }
  .img-botoes-container {
    margin-left: 0px;
  }
  .botoes-container {
    margin-top: 10px;
    margin-right: 60px;
  }
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  background-color: #424242; /* Cor de fundo dos botões */
  margin: 10px; /* Espaçamento entre os botões */
  border-radius: 50%; /* Torna os botões circulares */
}

.botao i {
  color: white;
}
.logo-buttons {
  display: flex;
  justify-content: center; /* Alinha os botões horizontalmente */
  align-items: center;
}

/*footer*************************************************************/
.text-btfooter {
  font-weight: 600;
  font-family: "Roboto", "Times New Roman", Times, serif;
  text-align: center;
}

.main-footer {
  background: #424242;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha os itens verticalmente */
  padding: 35px;
  flex-direction: column;
}

.footer-icon img {
  margin-top: 26px;
  width: 70px;
  margin-left: 127px;
}

.footer-icon p {
  margin-left: 40px; /* Adiciona um espaçamento à esquerda */
  margin-bottom: 70px;
}

.main-footer__lower {
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}

.gmail-font {
  font-weight: 600;
  font-size: 20px;
}

.main-footer {
  margin-top: 0px; /* Adiciona espaço entre as seções e o rodapé */
}

.projeto-1,
.projeto-3 {
  flex-basis: calc(50% - 20px); /* Define a largura de cada projeto */
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 10px; /* Define a borda arredondada */
  padding: 10px; /* Adiciona um espaçamento interno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Alinha os botões verticalmente */
}
.projeto-2,
.projeto-4 {
  flex-basis: calc(50% - 20px); /* Define a largura de cada projeto */
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 10px; /* Define a borda arredondada */
  padding: 10px; /* Adiciona um espaçamento interno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Alinha os botões verticalmente */
}

.projetos-container > div {
  max-width: 400px;
  flex-basis: calc(50% - 20px);
  margin-top: 0%;
  margin-bottom: 20px;
  border: none;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px 0px rgba(73, 74, 74, 0.11); /* Sombra azul clara */
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.projeto-1 img,
.projeto-2 img,
.projeto-3 img,
.projeto-4 img {
  width: 300px; /* Defina a largura desejada para a imagem */
  border-radius: 10px;
}

.projeto-1 h2,
.projeto-2 h2,
.projeto-3 h2,
.projeto-4 h2 {
  margin-top: 10px;
  font-size: 27px;
  padding: 5px;
  color: #373737;
  font-family: "Outfit", sans-serif;
}

.projeto-1 p,
.projeto-2 p,
.projeto-3 p,
.projeto-4 p {
  font-size: 16px;
  color: #6d6d6d;
  margin-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.projeto-1 .botao-p,
.projeto-2 .botao-p,
.projeto-3 .botao-p,
.projeto-4 .botao-p {
  margin-top: 10px;
  padding: 0px 10px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* Estilos para as imagens */
.botoes-projeto {
  display: flex;
  justify-content: space-around; /* Distribui os botões com espaço entre eles */
  width: 50%; /* Define a largura total */
}

.botoes-projeto a {
  text-decoration: none;
}

.botao-p .img-git {
  width: 50px; /* Define o tamanho desejado para a imagem */
  height: auto; /* Permite que a altura seja ajustada proporcionalmente */
  margin-bottom: 9px;
  margin-right: 0px;
}

.botao-p .img-www {
  width: 30px; /* Define o tamanho desejado para a imagem */
  height: auto;
  margin-left: 8px; /* Permite que a altura seja ajustada proporcionalmente */
  /*margin-right: 6px;*/
}

/* Estilos para os botões */
.botao-p p {
  text-align: center;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: 600;
  text-decoration: none;
  max-width: 80px; /* Defina o tamanho máximo do texto */
  overflow: hidden; /* Oculta o conteúdo que ultrapassar o tamanho máximo */
  white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
  margin: 0; /* Remove a margem em volta do texto */
}

.botao-p {
  display: flex;
  align-items: center; /*Centraliza verticalmente */
  width: 130px;
  height: 40px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: #5a9bcd;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  width: auto; /* Ajusta a largura automaticamente para o conteúdo */
}

/*surface duo*************************************************************************/
@media screen and (max-width: 630px) {
  .content-container {
    flex-basis: calc(
      100% - 20px
    ); /* Define a largura para 100% em telas menores */
    margin: 0 0 0 0;
    flex-wrap: wrap; /* Quebra a linha quando não há espaço suficiente */
  }
  .profissao {
    margin-top: 20px;
  }
}

/*galaxy fold**************************************************************************/
@media screen and (max-width: 280px) {
  .content-container {
    flex-basis: calc(
      100% - 20px
    ); /* Define a largura para 100% em telas menores */
    margin: 0 0 0 0;
    flex-wrap: wrap; /* Quebra a linha quando não há espaço suficiente */
  }
  body {
    font-size: 14px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  nav a {
    margin-right: 10px;
    font-size: 13px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  .content-container {
    flex-direction: column;
  }

  .img-botoes-container {
    margin-left: 0;
    margin-top: 20px; /* Adicione um espaçamento entre a imagem e o texto */
  }

  .minhafoto {
    width: 200px; /* Reduza o tamanho da imagem para se adequar à tela menor */
  }

  .logo-buttons {
    margin-top: 10px;
    margin-right: 10px; /* Aumenta a margem direita em 10 pixels */
  }

  .botao {
    width: 50px; /* Reduza o tamanho do botão para se adequar à tela menor */
    height: 50px; /* Reduza o tamanho do botão para se adequar à tela menor */
  }

  .botao-p {
    width: 90px; /* Reduza o tamanho do botão para se adequar à tela menor */
    height: 30px; /* Reduza o tamanho do botão para se adequar à tela menor */
    margin-top: 10px;
    padding: 0px 0px;
  }
  .botao-p p {
    font-size: 14px;
    margin-left: 0px;
  }
  .profissao {
    margin-top: 10px;
    font-size: 40px;
  }
  .descricao {
    font-size: 14px; /* Reduza o tamanho da fonte para se adequar à tela menor */
    word-spacing: -3px; /* Ajuste conforme necessário */
    padding-right: 12px;
    padding-left: 12px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .father {
    flex-direction: column;
    align-items: center;
  }

  .card-hover {
    width: 150px; /* Reduza o tamanho do card para se adequar à tela menor */
    height: 150px; /* Reduza o tamanho do card para se adequar à tela menor */
    margin: 5px;
    pointer-events: none; /* Nova propriedade adicionada */
    cursor: default;
  }

  .card-hover p {
    font-size: 16px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  .margin-js {
    margin-top: 3%;
  }

  .margin-bt {
    margin-top: 6%;
  }

  .projeto-1,
  .projeto-2,
  .projeto-3,
  .projeto-4 {
    flex-basis: 100%; /* Defina a largura dos projetos para 100% da largura do contêiner */
    margin-left: 10px;
    margin-right: 10px;
  }

  .projeto-1 img,
  .projeto-2 img,
  .projeto-3 img,
  .projeto-4 img {
    width: 100%; /* Ajuste a largura da imagem para preencher o contêiner */
    border-radius: 10px;
  }

  .projeto-1 h2,
  .projeto-2 h2,
  .projeto-3 h2,
  .projeto-4 h2 {
    font-size: 18px; /* Reduza o tamanho da fonte para se adequar à tela menor */
    margin-top: 5px;
  }

  .projeto-1 p,
  .projeto-2 p,
  .projeto-4 p,
  .projeto-4 p {
    font-size: 14px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  .projeto-1 .botao-p,
  .projeto-2 .botao-p {
    padding: 5px 10px; /* Reduza o espaçamento interno do botão para se adequar à tela menor */
  }

  .back-to-top {
    bottom: 10px;
    right: 10px;
  }

  .back-to-top .seta {
    width: 18px; /* Reduza o tamanho da imagem para se adequar à tela menor */
  }

  .gmail-font {
    font-weight: 600;
    font-size: 16px;
  }
}

@media screen and (max-width: 1212px) {
  .projeto-1,
  .projeto-2 {
    flex-basis: calc(
      100% - 20px
    ); /* Define a largura para 100% em telas menores */
    margin: 0 0 0 0;
  }
  .projetos-container {
    justify-content: center; /* Centraliza os projetos verticalmente no modo responsivo*/
    flex-wrap: wrap; /* Quebra a linha quando não há espaço suficiente */
  }
}

/*Botão para voltar ao topo*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #bdbcbcef;
  color: #fff;
  padding: 7px 10px;
  border-radius: 1000px;
  text-decoration: none;
  margin-right: 0px;
}
.back-to-top .seta {
  width: 22px;
}
/* Media query para telas menores */
@media screen and (max-width: 768px) {
  .icon-increase {
    font-size: 16px; /* Reduz o tamanho para telas menores */
  }
  .section {
    min-height: 590px;
  }
}
/*********************************/

/* ... */

/* Defina as propriedades de animação */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adicione as classes de animação */
.animate {
  animation: fade-up 1s ease-in-out;
}

.fade-in.animate {
  animation: fade-in 1s ease-in-out;
}

.fade-up.animate {
  animation: fade-up 1s ease-in-out;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  min-height: 660px;
}

.section.fade-up {
  opacity: 1;
  transform: translateY(0);
}

/* imagens flutuantes habilidades*/
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: floating 2s ease-in-out infinite;
}

/*animação foto
.animar-foto {
  animation: zoom 5s infinite alternate;
}

@keyframes zoom {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
} /*/

.divider {
  border-top: 2px solid #cbcaca; /* Defina a cor e o estilo da linha */
  margin-top: 20px; /* Ajuste a margem superior conforme necessário */
  margin-bottom: 20px; /* Ajuste a margem inferior conforme necessário */
}

/*icone de menu********************************************************************/
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos da barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #000000;
}

.logo {
  font-size: 24px;
}

.menu-items {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  display: inline-block;
  margin-left: 10px;
}

.menu-items li:first-child {
  margin-left: 0;
}

.menu-items li a {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

/* Estilos do ícone do menu responsivo */
.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.left-aligned {
  margin-right: 10px;
  font-size: 20px;
}
.ycircle {
  width: 35px;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilos para telas menores */
@media screen and (max-width: 820px) {
  .container {
    padding: 20px; /* Adapte conforme necessário */
    flex-direction: column;
  }
  .menu-toggle {
    display: block;
  }
  /* Estilos para a caixa de seleção de tema */
  .theme-switch {
    margin-top: 20px;
    font-size: 14px;
    position: absolute;
    margin-right: 80px; /* Ajuste conforme necessário para a posição desejada */
    font-size: 14px;
  }
  .menu-items {
    display: none;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }

  .menu-items li {
    display: block;
    margin: 10px 0;
  }

  .menu-toggle:checked ~ .menu-items {
    display: block;
  }
  .nome2 {
    display: none;
  }
  .profissao {
    font-size: 60px;
  }
  .text-container {
    flex-direction: column;
  }
  .descricao {
    padding-right: 12px;
    padding-left: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*nav mobile*/
@media screen and (max-width: 820px) {
  .pcnav {
    display: none;
  }
  nav {
    height: 50px;
  }
  header {
    height: 65px;
  }
  .left-aligned {
    margin-right: 200px;
    font-size: 20px;
  }
  .ycircle {
    width: 35px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .nome-completo {
    margin-top: 100px;
  }
}

/* Media query para desktop (por exemplo, largura mínima de 768 pixels) */
@media only screen and (min-width: 768px) {
  .me-image {
    width: 430px; /* Tamanho fixo desejado para desktop */
    height: auto;
  }
  .paragrafo p {
    padding: 16px;
  }
}
@media screen and (min-width: 825px) {
  #menu-btn {
    display: none;
  }
}
/*
.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conteudo {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 50px;
}
<img class="fundo" src="conceito-de-fundo-branco-textura-elegante/img-back.jpg" alt=""> */

.fa-brands {
  font-size: 50px;
  color: #4e4e4e;
}

/*serviços*/
.card-s {
  position: relative;
  height: 200px;
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 15px 15px 15px 15px; /* Adiciona espaço na parte direita de cada card */
  /* Outras estilizações necessárias */
}

.card-sfather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
/* Ajustes para os elementos dentro dos cards, se necessário */
.card-s .circle {
  color: #fff;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5a9bcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-s h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #666;
}
.card-s p {
  font-size: 19px;
  margin-bottom: 10px;
  color: #666;
}
.icon {
  font-size: 30px;
}

.card-s::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #5a9bcd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*fundo azul*/
#contato {
  background: linear-gradient(135deg, #0077cc, #5a9bcd, #00bfff);

  color: white; /* Define a cor do texto para branco */
  padding: 50px; /* Adiciona algum espaço interno para o conteúdo */
  display: flex; /* Permite alinhar a imagem e o formulário lado a lado */
  align-items: center; /* Alinha os itens verticalmente */
}

#contato .form-container {
  flex: 1; /* Ocupa o restante do espaço disponível */
  padding-left: 20px; /* Adiciona um espaçamento à esquerda para separar a imagem do formulário */
}

#contato img {
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho da seção */
  height: auto; /* Mantém a proporção da imagem */
  padding: 35px;
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
/* Estilos que afetam apenas a seção de contato */

.contact-section * {
  /* Define o estilo para todos os elementos dentro da seção de contato */
  /* Isso garante que apenas os elementos dentro de .contact-section sejam afetados */
  /* Por exemplo: */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* ... e outros estilos específicos */
  position: relative;
  z-index: 0; /* Um número maior para o formulário */
}

/* ... e assim por diante, ajuste os estilos conforme necessário */

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea::-moz-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px 15px 15px 15px;

  /*background: linear-gradient(
    135deg,
    #0077cc,
    #00bfff
  );  Substitua as cores conforme necessário */

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 3.5% 11% 3.5% 12.5%; /* Exemplo de proporções ajustadas */
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #666;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 22px;
}
.contato-titulo {
  display: block;
  font-size: 22px;
  color: #535353;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 26px;
  /* font-weight: 100; */
  font-size: 37px;
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}
input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #5a9bcd;
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #5a9bcd;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  box-shadow: 3px 3px 5px 0px rgba(73, 74, 74, 0.11);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #424242;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.titulo-contato {
  /* font-weight: 100; */
  font-size: 37px;
  margin-top: 70px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}
