body {
  background-color: #f2f2f2;
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
  font-family: Helvetica, sans-serif;
  width: 100%;
  margin: 0; /*retira a margem branca do lado esquerdo*/
  padding: 0;
}

nav {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 30px;
}
h2 {
  color: #3f3f3f;
  font-size: 23px;
}
nav a {
  margin-right: 25px;
  text-decoration: none;
  /*font-weight:550;*/
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
}
.pcnav a {
  position: relative;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.pcnav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #8758ff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

.pcnav a.active::after {
  width: 100%;
}

.pcnav a:hover::after {
  width: 100%;
}

header {
  position: sticky;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 1; /* Adicione um índice Z para que a barra de navegação fique acima dos cards */
}
.page-header {
  transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
}

.header-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra desejada */
}

#menu-btn {
  position: fixed;
  /*margin*/
  top: 8px;
  margin-bottom: 10px;
  right: 30px;
  height: 50px;
  width: 50px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  /*background: #6f5fc7;*/
  color: #836fff;
  text-align: center;
  z-index: 1000;
}

#menu-btn.fa-times {
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  background: #836fff; /*cor ao clicar*/
  color: #ffffff;
}

.menu-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-enviar {
  margin-left: auto;
  text-align: center; /* Alinha o conteúdo do botão à direita */
  margin-right: 9px; /* Adiciona uma margem à direita para criar espaço entre o botão e o formulário */
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-aligned {
  margin-right: 1300px;
}

.pcnav {
  display: flex;
  justify-content: center;
  position: fixed;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 250px;
  width: 100%;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 50px;
  clip-path: circle(0% at 95.3% 8.5%);
}

.navbar.active {
  clip-path: circle(140% at 95.3% 8.5%);
}
.navbar a {
  font-size: 30px;
  padding-bottom: 30px;
  color: #000;
  text-decoration: none;
}

.navbar a::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #000;
  pointer-events: none;
  font-weight: bolder;
  letter-spacing: 0.4em;
  opacity: 0;
  z-index: -1;
}

.navbar a:hover::before {
  letter-spacing: 0em;
  opacity: 0.1;
  transition: 0.3s ease-out;
}

main {
  width: 100%;
}

section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
  margin: 0 auto;
}

h1 {
  margin-top: 0;
}

.content-container {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento inferior entre o conteúdo e os botões */
  margin-right: 0px;
  margin-top: 140px;
  margin-bottom: 60px;
}

/*texto primeira parte*/
.text-container {
  flex: 1;
  text-align: center;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minhafoto {
  width: 300px;
  border-radius: 50%;
  /*margin-left: 10px;  Espaçamento entre a imagem e o texto */
}

.img-botoes-container {
  margin-left: 40px;
}

.nome-completo {
  margin-bottom: 10px;
  text-align: center; /* Centraliza o texto */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.profissao {
  margin-top: 0;
  font-size: 73px;
  text-align: center; /* Centraliza o texto */
  font-family: "Belanosima", sans-serif; /* Substitua 'Montserrat' pela fonte desejada */
  color: #836fff;
  margin-bottom: 0px;
  /*text-shadow: 2px 2px 4px rgba(131, 111, 255, 0.3);  Ajuste a cor da sombra para corresponder à cor do texto */
}
.absolute {
  margin-top: 10000px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* Estilo para a caixa invisível */
.invisible-box {
  display: none;
}

.topico {
  /*font-weight: 100;*/
  font-size: 37px;
  margin-top: 70px;
  color: #308eede1;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

/*cartoes habilidades*/
.father {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 100%; /* Defina a largura desejada para os cards */
  height: 100%;
  text-align: center;
  padding: 10px;
}

.card-container {
  margin-top: 20px; /* Adicione um espaçamento entre a barra de navegação e os cards */
  padding-top: 5px; /* Adicione um espaçamento interno no topo do container dos cards */
  padding-bottom: 5px;
  margin-bottom: 10px; /* Aumenta o espaço inferior da seção habilidades */
}

.card .titulo-projeto {
  margin-top: 20px;
  font-size: 26px;
}

.card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.card-hover {
  position: relative;
  width: 150px; /* Reduza a largura dos cards para 200px */
  height: 150px; /* Reduza a altura dos cards para 300px */
  /*background-color: #915b5b; /*fundo dos cartoes habilidades*/
  border-radius: 10px;
  margin: 8px;

  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.card p {
  /* Se desejar, centralize verticalmente o texto dentro do card */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 550;
}
.margin-js {
  margin-top: 6%;
}

.margin-bt {
  margin-top: 10%;
}

.logo-html {
  width: 100px;
}

.logo-js {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 85px;
}

.logo-css {
  width: 71px;
  margin: 10px;
  align-content: center;
}

.logo-react {
  width: 90px;
  margin: 3px;
}

.logo-typescript {
  width: 82px;
  margin-top: 10px;
}

.logo-bootstrap {
  width: 100px;
}

.descricao {
  font-family: trebuchet ms;
  color: rgb(78, 78, 78);
  font-weight: bold;
  font-size: 17px;
}

/*Formulario de contato*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 33px;
}

#contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #3f3f3f;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 0%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "helvetica";
}

button[type="submit"] {
  padding: 7px 30px;
  background-color: #836fff;
  color: #fff;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #480999;
}

.dark-bg {
  /*background-color: #eeeeee;*/
  background-color: #f4f4f4;
  margin-bottom: 0px; /* Adiciona espaço entre a seção e o rodapé */
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 80%;
  }
  nav a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 22px;
  }
  .content-container {
    flex-direction: column;
  }
  .img-botoes-container {
    margin-left: 0px;
  }
  .botoes-container {
    margin-top: 10px;
    margin-right: 60px;
  }
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  background-color: #333; /* Cor de fundo dos botões */
  margin: 10px; /* Espaçamento entre os botões */
  border-radius: 50%; /* Torna os botões circulares */
}

.botao i {
  color: white;
}
.logo-buttons {
  display: flex;
  justify-content: center; /* Alinha os botões horizontalmente */
  align-items: center;
}
.botao:hover {
  background-color: #4f439c;
}

.img-linkedin {
  margin-top: 3px;
  width: 65px;
}

.img-git {
  margin-top: 8px;
  width: 54px;
}

.img-cv {
  margin-top: 5px;
  width: 58px;
}

/*footer*************************************************************/
.text-btfooter {
  font-weight: 600;
  font-family: "Roboto", "Times New Roman", Times, serif;
  text-align: center;
}

.main-footer {
  background: #685bbdce;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha os itens verticalmente */
  padding: 35px;
  flex-direction: column;
}

.footer-icon img {
  margin-top: 26px;
  width: 70px;
  margin-left: 127px;
}

.footer-icon p {
  margin-left: 40px; /* Adiciona um espaçamento à esquerda */
  margin-bottom: 70px;
}

.main-footer__lower {
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}

.gmail-font {
  font-weight: 600;
  font-size: 20px;
}

.main-footer {
  margin-top: 0px; /* Adiciona espaço entre as seções e o rodapé */
}

.projeto-1 {
  flex-basis: calc(50% - 20px); /* Define a largura de cada projeto */
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 250px;
  border-radius: 10px; /* Define a borda arredondada */
  padding: 10px; /* Adiciona um espaçamento interno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Alinha os botões verticalmente */
}
.projeto-2 {
  flex-basis: calc(50% - 20px); /* Define a largura de cada projeto */
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 250px;
  border-radius: 10px; /* Define a borda arredondada */
  padding: 10px; /* Adiciona um espaçamento interno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Alinha os botões verticalmente */
}
.projetos-container {
  display: flex;
  justify-content: space-between; /* Distribui os projetos com espaço entre eles */
}

.projetos-container > div {
  flex-basis: calc(50% - 20px);
  margin-top: 0%;
  margin-bottom: 20px;
  border: none;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px 0px rgba(73, 74, 74, 0.11); /* Sombra azul clara */
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.projeto-1 img,
.projeto-2 img {
  width: 200px; /* Defina a largura desejada para a imagem */
  border-radius: 10px;
}

.projeto-1 h2,
.projeto-2 h2 {
  margin-top: 10px;
  font-size: 27px;
  padding: 5px;
  color: #373737;
  font-family: "Outfit", sans-serif;
}

.projeto-1 p,
.projeto-2 p {
  font-size: 16px;
  color: #6d6d6d;
  text-align: justify;
  margin-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.projeto-1 .botao-p,
.projeto-2 .botao-p {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #836fff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.projeto-1 .botao-p:hover,
.projeto-2 .botao-p:hover {
  background-color: #480999;
}

/* Estilos para as imagens */
.botoes-projeto {
  display: flex;
  justify-content: space-around; /* Distribui os botões com espaço entre eles */
  width: 50%; /* Define a largura total */
}

.botoes-projeto a {
  text-decoration: none;
}

.botao-p .img-git {
  width: 50px; /* Define o tamanho desejado para a imagem */
  height: auto; /* Permite que a altura seja ajustada proporcionalmente */
  margin-bottom: 9px;
  margin-right: 0px;
}

.botao-p .img-www {
  width: 30px; /* Define o tamanho desejado para a imagem */
  height: auto;
  margin-left: 8px; /* Permite que a altura seja ajustada proporcionalmente */
  /*margin-right: 6px;*/
}

/* Estilos para os botões */
.botao-p p {
  text-align: center;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: 600;
  text-decoration: none;
  max-width: 80px; /* Defina o tamanho máximo do texto */
  overflow: hidden; /* Oculta o conteúdo que ultrapassar o tamanho máximo */
  white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
  margin: 0; /* Remove a margem em volta do texto */
}

.botao-p {
  display: flex;
  align-items: center; /*Centraliza verticalmente */
  width: 130px;
  height: 40px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #8a4bff, #66d9ff);
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  width: auto; /* Ajusta a largura automaticamente para o conteúdo */
}

.botao-p:hover {
  background: linear-gradient(to right, #66d9ff, #8a4bff);
}
/*surface duo*************************************************************************/
@media screen and (max-width: 630px) {
  .content-container {
    flex-basis: calc(
      100% - 20px
    ); /* Define a largura para 100% em telas menores */
    margin: 0 0 0 0;
    flex-wrap: wrap; /* Quebra a linha quando não há espaço suficiente */
  }
  .profissao {
    margin-top: 20px;
  }
}

/*galaxy fold**************************************************************************/
@media screen and (max-width: 280px) {
  .content-container {
    flex-basis: calc(
      100% - 20px
    ); /* Define a largura para 100% em telas menores */
    margin: 0 0 0 0;
    flex-wrap: wrap; /* Quebra a linha quando não há espaço suficiente */
  }
  body {
    font-size: 14px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  nav a {
    margin-right: 10px;
    font-size: 13px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  .content-container {
    flex-direction: column;
  }

  .img-botoes-container {
    margin-left: 0;
    margin-top: 20px; /* Adicione um espaçamento entre a imagem e o texto */
  }

  .minhafoto {
    width: 200px; /* Reduza o tamanho da imagem para se adequar à tela menor */
  }

  .logo-buttons {
    margin-top: 10px;
    margin-right: 10px; /* Aumenta a margem direita em 10 pixels */
  }

  .botao {
    width: 50px; /* Reduza o tamanho do botão para se adequar à tela menor */
    height: 50px; /* Reduza o tamanho do botão para se adequar à tela menor */
  }

  .botao-p {
    width: 90px; /* Reduza o tamanho do botão para se adequar à tela menor */
    height: 30px; /* Reduza o tamanho do botão para se adequar à tela menor */
  }

  .profissao {
    margin-top: 10px;
    font-size: 40px;
  }
  .descricao {
    font-size: 14px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  .father {
    flex-direction: column;
    align-items: center;
  }

  .card-hover {
    width: 150px; /* Reduza o tamanho do card para se adequar à tela menor */
    height: 150px; /* Reduza o tamanho do card para se adequar à tela menor */
    margin: 5px;
    pointer-events: none; /* Nova propriedade adicionada */
    cursor: default;
  }

  .card-hover p {
    font-size: 16px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  .margin-js {
    margin-top: 3%;
  }

  .margin-bt {
    margin-top: 6%;
  }

  .projeto-1,
  .projeto-2 {
    flex-basis: 100%; /* Defina a largura dos projetos para 100% da largura do contêiner */
    margin-left: 10px;
    margin-right: 10px;
  }

  .projeto-1 img,
  .projeto-2 img {
    width: 100%; /* Ajuste a largura da imagem para preencher o contêiner */
    border-radius: 10px;
  }

  .projeto-1 h2,
  .projeto-2 h2 {
    font-size: 18px; /* Reduza o tamanho da fonte para se adequar à tela menor */
    margin-top: 5px;
  }

  .projeto-1 p,
  .projeto-2 p {
    font-size: 14px; /* Reduza o tamanho da fonte para se adequar à tela menor */
  }

  .projeto-1 .botao-p,
  .projeto-2 .botao-p {
    padding: 5px 10px; /* Reduza o espaçamento interno do botão para se adequar à tela menor */
  }

  .back-to-top {
    bottom: 10px;
    right: 10px;
  }

  .back-to-top .seta {
    width: 18px; /* Reduza o tamanho da imagem para se adequar à tela menor */
  }

  .gmail-font {
    font-weight: 600;
    font-size: 16px;
  }
}

@media screen and (max-width: 1212px) {
  .projeto-1,
  .projeto-2 {
    flex-basis: calc(
      100% - 20px
    ); /* Define a largura para 100% em telas menores */
    margin: 0 0 0 0;
  }
  .projetos-container {
    justify-content: center; /* Centraliza os projetos verticalmente no modo responsivo*/
    flex-wrap: wrap; /* Quebra a linha quando não há espaço suficiente */
  }
}

/*Botão para voltar ao topo*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #bdbcbcef;
  color: #fff;
  padding: 7px 10px;
  border-radius: 1000px;
  text-decoration: none;
  margin-right: 0px;
}
.back-to-top .seta {
  width: 22px;
}

/*********************************/

.titulo-degrade {
  background: linear-gradient(to right, #836fff, #26136e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ... */

/* Defina as propriedades de animação */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adicione as classes de animação */
.animate {
  animation: fade-up 1s ease-in-out;
}

.fade-in.animate {
  animation: fade-in 1s ease-in-out;
}

.fade-up.animate {
  animation: fade-up 1s ease-in-out;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.fade-up {
  opacity: 1;
  transform: translateY(0);
}

/* imagens flutuantes habilidades*/
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: floating 2s ease-in-out infinite;
}

/*animação foto
.animar-foto {
  animation: zoom 5s infinite alternate;
}

@keyframes zoom {
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
} /*/

.divider {
  border-top: 2px solid #cbcaca; /* Defina a cor e o estilo da linha */
  margin-top: 20px; /* Ajuste a margem superior conforme necessário */
  margin-bottom: 20px; /* Ajuste a margem inferior conforme necessário */
}

/*icone de menu********************************************************************/
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos da barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #000000;
}

.logo {
  font-size: 24px;
}

.menu-items {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  display: inline-block;
  margin-left: 10px;
}

.menu-items li:first-child {
  margin-left: 0;
}

.menu-items li a {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

/* Estilos do ícone do menu responsivo */
.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.left-aligned {
  margin-right: 10px;
  font-size: 20px;
}
.ycircle {
  width: 35px;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }

  .menu-items li {
    display: block;
    margin: 10px 0;
  }

  .menu-toggle:checked ~ .menu-items {
    display: block;
  }

  .profissao {
    font-size: 50px;
  }
}

/*nav mobile*/
@media screen and (max-width: 560px) {
  .pcnav {
    display: none;
  }
  nav {
    height: 50px;
  }
  header {
    height: 65px;
  }
  .left-aligned {
    margin-right: 200px;
    font-size: 20px;
  }
  .ycircle {
    width: 35px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .nome-completo {
    margin-top: 100px;
  }
}
@media screen and (min-width: 545px) {
  #menu-btn {
    display: none;
  }
}
/*
.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conteudo {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 50px;
}
<img class="fundo" src="conceito-de-fundo-branco-textura-elegante/img-back.jpg" alt=""> */
